.recipe-list-container {
  padding: 20px;
  background-image: url('https://img.redro.pl/tapety/wzor-fast-food-tekstura-tapety-wypelnienia-tlo-strony-internetowej-700-108812001.jpg'); /* Zamień na ścieżkę do swojego obrazu */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.recipe-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: left;
}

.recipe-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
